extends layout

block content

	div.container-narrow

		include navbar

		div.banner

			div.mark-light
				img.mark(src='/img/banner.png')

			h1 Loving Stem OS!

			h3.muted Wonderful JavaScript operating system
			h3.muted to make your computer live.

			br

			button.btn.btn-success.download-button
				h5
					i.icon-download-alt.icon-white
					!=' '
					span Download Stem Now!

			div
				small Installation CD image for PC
			div
				small.muted
					em (x86, 32-bit)

		hr
