
div.navbar
	div.navbar-inner

		div.brand
			a(href='/')
				img.logo(src='/img/logo.png')

		ul.nav.pull-right

			- if (currentPath == '/news')
				li.active
					a(href='/News') News
			- else
				li
					a(href='/News') News

			- if (currentPath == '/about')
				li.active
					a(href='/about') About Stem
			- else
				li
					a(href='/about') About Stem

			- if (currentPath == '/Demo')
				li.active
					a(href='/Demo') Demo
			- else
				li
					a(href='/Demo') Demo
				
			- if (currentPath == '/download')
				li.active
					a(href='/download') Download
			- else
				li
					a(href='/download') Download


			- if (currentPath.substr(0, 4) == '/doc')
				li.active
					a(href='/doc') Documentation
			- else
				li
					a(href='/doc') Documentation

			- if (currentPath == '/support')
				li.active
					a(href='/support') Support
			- else
				li
					a(href='/support') Support

