
div.navbar
	div.navbar-inner

		ul.nav.pull-right
			li
				img.logo(src='/img/logo.png')

			li.active
				a(href='#') About
			li
				a(href='#') Demo
			li
				a(href='#') Download
			li
				a(href='#') Documentation
			li
				a(href='#') Community


