
div.navbar
	div.navbar-inner

		div.brand
			a(href='/')
				img.logo(src='/img/logo.png')

		ul.nav.pull-right

			li
				a(href='#') News

			- if (currentPath == '/about')
				li.active
					a(href='/about') About Stem
			- else
				li
					a(href='/about') About Stem

			li
				a(href='#') Demo
			li
				a(href='#') Download

			- if (currentPath == '/doc')
				li.active
					a(href='/doc') Documentation
			- else
				li
					a(href='/doc') Documentation


